.Order{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.form{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50vw;
  margin: auto;
  gap: 2rem;
}
.form div{
  display: grid;
}
.form div:nth-child(8){
  width: 10ch;
  margin: auto;
}
.form div:nth-child(6) input{
  height: 10ch;
  /* margin: auto; */
}
.form div input,select{
  border: none;
  border-bottom: 1px solid black;
  margin-top: 1rem;
  background: none;
}