/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Josefin+Sans:wght@500&family=Montserrat:wght@500&display=swap'); */
.footer{
  z-index: 90;
  padding: 10px;
  position: relative;
  background-color: black;
}
.footer>section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:max-content;
  justify-content: space-evenly;
}
.footer>section>p{
  color: #d4af37;
}
.footer_wrapper1, .footer_wrapper2, .footer_wrapper3, .footer_wrapper4{
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.footer_heading{
  color: #d4af37;
  position: relative;
  width: fit-content;
  text-align: center;
  text-transform:uppercase;
}
.footer_heading::after{
  content: " ";
  background-color: white;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  height: 0.2em;
  position: absolute;
  bottom:-30%;
  left: 25%;
}
.footer_links{
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  line-height: 200%;
}
.footer_links>a:nth-child(5){
  background-color:red;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}
.footer_links>a{
  text-decoration: none;
  color: #d4af37;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
.footer_innerwrapper2{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_innerwrapper1> a>img{
  width: 3ch;
  text-align: center;
  margin-top: 10px;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
.footer_innerwrapper1>p{
  color: #d4af37;
}
.footer_wrapper3{
  background-color: white;
  width: 40ch;
  margin: 20px;
}
.footer_innerwrapper2>img{
  width: 30px;
  padding: 10px;
}
.footer_innerwrapper2>p{
  padding: 10px;
  text-align: center;
}
.footer_wrapper4{
  width: 20ch;
  margin: 1rem;
  justify-content: space-around;
}
.footer_wrapper4>a{
  background-color:red;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 2rem;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
.footer_wrapper4>a:hover, .footer_links>a:hover, .footer_innerwrapper1> a>img:hover{
  cursor: pointer;
  transform: scale(1.2);
}
/* @media only screen and (max-width:768px){
  .footer_wrapper3{
    margin: 30px;
  }
} */