
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Josefin+Sans:wght@500&family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;
  /* background-color:black; */
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
body{
  min-height: 72vh;
  /* margin-top: 60px; */
  overflow-x: hidden;
}
header{
  margin: 0;
  padding: 0%;
  z-index: 99;
  width: 100vw;
}
footer{
  width: 100vw;
  /* position: absolute; */
  margin-top: auto;
  margin-bottom: 0%;
}
